

*{

	margin: 0;
	padding: 0;
}

body{

	font-family: Arial;
    background-color: white;
}


/*--------Iconos arriba (Se ocultan en el responsive se muestran)*/

.iconosArriva{
   display: none;
}

Label{

    font-size: 40px;
    margin-left: 15px;
}

/*--------------------Contenedor*/

 .Contenedor{
           
    background-color: #fcfcfc;
    background: linear-gradient(to right, #16cad0, white); 
    display: flex;
    justify-content: left;
 }

.hijo{

   width: 400px;
	/*background-color: #16cad0; AZUL VERDE*/
	padding: 30px;
}

.imagenMia{
   
   width:  150px;
   height: 150px;
   border-radius: 50%;
   border: 2px solid #0fa7ac;
}

.parrafoSobreMi{
   
   color: black;
}

.enlaceMasSobreMi{
/*a - boton*/ 
   background-color: yellow;
	color: black;
   text-decoration: none;
   border: 1px solid #aab225;
   padding: 5px;
}

.enlaceMasSobreMi:hover{

	background-color: #f2f891;
}

.formatoIcono:hover{
/*Enlaces*/
   border-bottom: 3px solid #0a0a0a;
   padding-bottom: 10px;
}

.formatoEspecial{

	padding-top: 300px;
}


/*------MIS PROYECTOS-----*/

.tituloMisProyectos{
/*Titulo mis proyectos*/

   font-size: 40px;
   text-align: center;
   margin-top: 20px;
}

.ParrafoDescripcion{

   text-align: center;
   color: black;
   font-size: 23px;
   margin: 30px;
}

.FragaTex{

   text-shadow: 1px 0.1px #16cad0;
}

.ContenedorProyectos{
  
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.bordesImagen{
/*Hijos del contenedor*/
    border: 1px solid #b5bbb8;
    box-shadow: 1px 2px 1px 1px #b5bbb8;
    border-radius: 10px;
    margin: 3px;

}

/*------PIE DE PAGINA*/


 footer{

    background-color: #cdd1d0;
    color: black;
    cursor: pointer;
    margin-top: 10px;

 }

.parrafo_PieDePagina{

   text-align: center;
   padding: 50px;

}

.imagenCorreo{

   margin-bottom: -15px;
}

a{
/*email*/
    color: black;
    text-decoration: none;
    margin-top: 10px;
}

a:hover{

    text-decoration: underline; 
}








