


@media only screen and (max-width: 600px){
/*Img*/

         .responsive {
         /*img*/
             width: 80%;
             height: 80%;
         }

}/*Resp*/

@media only screen and (max-width: 710px){
/*Iconos de arriba*/
         
         /*--------Menu*/

         .ContenedorMenu{
            
            position: absolute;
            left: 50%;
            margin: 30px;
            display: inline-block;
            text-align: right;

         }

         .enlaceMenu{

            text-decoration: none;
            padding: 30px;
         }
     
        /*------Localidad lanus cuando aparece arriba junto a los iconos*/

         .responsivoLocalidad{

             display: none;
         }

         .ContenedorIconos_Responsivos{
         /*Saco los iconos de las redes*/

           display: none;
           background-color: red;
        }

        .Conenedorico_Resposive{
           
           width: 95%;
           display: inline-block;
           background-color: #e4e4e4;

           padding: 10px;

        }

        .enlace_formatoResponsivo:hover{
        /*enlace del los iconos*/
           border-bottom: 3px solid black;
           padding-bottom: 3px;

        }

}/*Resp*/

/**
 * -------------Responsive Estudios----------
 * ------------------------------------------
 * */

 @media only screen and (max-width: 710px){


       h1{
          
          font-size: 35px;
       }

       h4{
           
         font-size: 25px;
         text-decoration: underline;

       }

       p{

        font-size: 20px;
       }
       

      .img_Responsive{
          /*Titulo 111mil*/

          width: 400px;
          margin-left: -45px;
       }
         

}/*Respo*/
